<table class="table table-dark">
    <tr>
        <th><%= id %>:<%= key %></th>
        <% for(var i in val) { %>
        <tr>
            <td><%= val[i] %></td>
        </tr>
        <% } %>
    </tr>
</table>
